div {
    width: 500px;
    height: 200px;
    margin: 10px;
    color: white;
    border: 1px solid black;
    background-image: url('/gambar/prambanan.jpeg');
    background-repeat: no-repeat;
    background-size: 50% 50%;
    float: left;
}

.satu {
    background-size: contain;

}

.dua {
    background-size: cover;
}