body {
    background-image: url('/gambar/prambanan.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* fixed
    scroll
    local */
}

div {
    width: 960px;
    height: 1500px;
    border: 2px solid green;
    margin: 0 auto;
    background-color: white;
    text-align: center;
}