body {
    background-image: url('https://balitribune.co.id/sites/default/files/styles/xtra_large/public/field/image/3406_PARIWISATA_GWK%20%28FILEminimizer%29.jpg?itok=VnUWmN2S');
    background-repeat: no-repeat;
    background-size: cover;
}